<div class="h-screen overflow-y-auto bg-slate-800">
    <main class="h-full">
        <div class="ml-96 py-12 pl-6 pr-12">
            <document [form]="documentForm"></document>
        </div>
    </main>

    <aside
        class="fixed inset-y-0 left-0 transform z-10 transition-transform duration-300 ease-in-out min-w-96 max-w-96 will-change-transform translate-x-0">
        <div class="flex grow flex-col h-screen w-full px-6">
            <ng-container [ngTemplateOutlet]="copilotHeader"></ng-container>
            <ng-container [ngTemplateOutlet]="newDocument" *ngIf="messages.length == 0"></ng-container>
            <ng-container [ngTemplateOutlet]="session" *ngIf="messages.length > 0"></ng-container>
        </div>
    </aside>
</div>

<ng-template #copilotHeader>
    <div class="w-full flex justify-between">
        <button class="flex h-16 shrink-0 items-center" tp="New Session" (click)="newSession()"
            *ngIf="messages.length > 0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
        </button>
    </div>
</ng-template>

<ng-template #spinner>
    <div class="flex h-16 shrink-0 items-center group-hover:hidden">
        <svg aria-hidden="true" class="w-7 h-7 mr-3 text-slate-400 animate-spin dark:text-black fill-white"
            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="currentColor" />
            <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentFill" />
        </svg>
    </div>

</ng-template>

<!-- Empty State (before first message) -->
<ng-template #newDocument>
    <div class="relative min-h-screen w-full">
        <div class="flex flex-col items-center pt-24">
            <h2 class="text-3xl font-extrabold whitespace-normal text-white pl-3 text-center">
                What will you write?
            </h2>
            <p class="text-gray-100 mt-12">Here are some ideas</p>
        </div>
        <div>
            <prompt-suggestions (onClick)="stream($event)"></prompt-suggestions>
        </div>

        <!-- Prompt Editor -->
        <div class="fixed bottom-5 left-0 right-0 w-full px-6">
            <div class="mx-auto max-w-4xl">
                <prompt-editor (onSubmit)="stream($event)" [disabled]="processing" placeholder="Type something here..."
                    class="w-full"></prompt-editor>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #session>
    <div class="relative">
        <div class="flex flex-col px-2" style="height: calc(100vh - 64px)">
            <div class="flex-1 overflow-y-auto" style="max-height: calc(100vh - 145px)" #scrollContainer>
                <ng-container *ngFor="let message of messages; let i = index; trackBy: trackByUpdatedAt">

                    <!-- Just Basic Messages between the Assistant & User -->
                    <message [message]="message" *ngIf="message.hidden == false  && !message.action"></message>

                    <!-- Inquire Action -->
                    <inquire-action [message]="message" [terminal]="i == messages.length - 1" [inProgress]="false"
                        (onSubmit)="stream($event, true)" *ngIf="message.action == 'inquire'"></inquire-action>

                    <!-- Create Outline Action --> 
                    <outline-action [message]="message" [terminal]="i == messages.length - 1" (onSubmit)="stream($event)"
                        *ngIf="message.action == 'create-outline'"></outline-action>

                    <!-- Search Web Action -->
                    <web-search-action [message]="message" *ngIf="message.action == 'search-web'"></web-search-action>

                    <!-- Tool Message with the Web Search Results -->
                    <web-search-results [message]="message"
                        *ngIf="message.action == 'web-search-results'"></web-search-results>

                </ng-container>
                <ng-container *ngIf="processing && !firstTokenArrived" [ngTemplateOutlet]="spinner"></ng-container>
                <div class="w-full py-24"></div>
            </div>

            <!-- Prompt Editor -->
            <div class="sticky bottom-0 w-full z-10">
                <div class="mx-auto max-w-4xl">
                    <prompt-editor (onSubmit)="stream($event)" [disabled]="processing"></prompt-editor>
                </div>
            </div>
        </div>
    </div>
</ng-template>